
!.vscode/extensions.json
# Editor directories and files
# Logs
# Node
# OS
# Python
*$py.class
*.local
*.log
*.njsproj
*.ntvs*
*.py[cod]
*.sln
*.suo
*.sw?
.DS_Store
.env
.idea/
.venv/
.vscode/
__pycache__/
dist-ssr/
dist/
env/
lerna-debug.log*
logs
node_modules/
npm-debug.log*
pnpm-debug.log*
venv/
yarn-debug.log*
yarn-error.log*
